body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blue {
    background-color: rgb(17, 24, 39);
}

.title-mono {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
}

@media (min-width: 1536px) {
    .container {
        max-width: 1200px;
    }

    #features {
        min-height: 400px;
    }
}


.navbar-logo {
    width: 45px;
    fill: currentColor;
}

.flex-column {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.demo-block {
    overflow: hidden
}

.demo-player {
    width: 100%;
}

.demo-code {
    width: 100%;
}

pre code.hljs {
    height: 500px;
    overflow-y: scroll;
}

.ap-player {
    width: 100%;
    border-radius: 0px !important;
}

.ap-play-button span {
    display: flex !important;
    justify-content: center;
}

#made-by a {
    color: rgb(137, 164, 175);
}

.links-blue a {
    color: rgb(23, 91, 155);
}

.links-blue a:hover {
    color: rgb(46, 127, 203);
}

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #ccc;
    vertical-align: bottom;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}

body {
    --term-color-background: #303030 !important;
}

.asciinema-player-theme-krossbar {
    --term-color-foreground: #c5c8c6;
    --term-color-background: #303030;

    --term-color-0: #3b4252;
    --term-color-1: #bf616a;
    --term-color-2: #a3be8c;
    --term-color-3: #ebcb8b;
    --term-color-4: #81a1c1;
    --term-color-5: #b48ead;
    --term-color-6: #88c0d0;
    --term-color-7: #eceff4;
}