body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.blue {
    background-color: rgb(9, 35, 58);
}

.title-mono {
    font-family: "Ubuntu Sans Mono", monospace;
    font-optical-sizing: auto;
}

@media (min-width: 1536px) {
    .container {
        max-width: 1200px;
    }

    #features {
        min-height: 700px;
    }
}


.navbar-logo {
    width: 45px;
    fill: currentColor;
}

.flex-column {
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.demo-player {
    width: 100%;
}

.demo-code {
    width: 100%;
}

pre code.hljs {
    height: 500px;
    overflow-y: scroll;
}

.ap-player {
    height: 500px !important;
}

.ap-play-button span {
    display: flex !important;
    justify-content: center;
}

#made-by a {
    color: rgb(137, 164, 175);
}

.links-blue a {
    color: rgb(23, 91, 155);
}

.links-blue a:hover {
    color: rgb(46, 127, 203);
}

/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #ccc;
    vertical-align: bottom;
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px !important;
}