{{> header}}

<section id="features" class="bg-gray-50 py-4 links-blue">
    <div class="container mx-auto text-xl">
        <div class="p-8 bg-white rounded-lg shadow flex-column mx-16">
            <p class="font-semibold"> - Is it production ready?</p>
            <p class="mb-6 ml-4">No, but you can help us make it so. Se
                "CONTRIBUTION" section on <a
                    href="https://github.com/krossbar-platform">Github</a></p>
            <p class="font-semibold"> - Why the project website is so bad?</p>
            <p class="mb-6 ml-4">Because it was generated using ChatGPT as I'm
                not a web developer</p>
        </div>
    </div>
</section>
{{> footer }}